GFT_Solution_Test/Connected Services/TradeCategoryService/TradeCategoryService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GFT_Test_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GFT_Test_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfTradeType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TradeType" nillable="true" type="tns:TradeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTradeType" nillable="true" type="tns:ArrayOfTradeType" />
  <xs:complexType name="TradeType">
    <xs:sequence>
      <xs:element minOccurs="0" name="ClientSector" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TradeType" nillable="true" type="tns:TradeType" />
</xs:schema>